<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>| Makers BnB |</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://www.teahub.io/photos/full/284-2846581_green-background-letter-m-symmetry.jpg" />

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
      <a class="navbar-brand" href="#">Makers BnB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/spaces"><b>Home</b>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/spaces/new/<%= @current_user %>"><b>My Spaces</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/requests"><b>My Requests</b></a>
          </li>
          <% if @current_user %>
          <li class="nav-item">
            Logged in as <%= User.find(id: @current_user).name %>
          </li>
          <% end %>
        </ul>
      </div>
    <% if @current_user %>
    <span class ="nav-item bg-success">
      <form action="/sessions/destroy" method="post">
        <input type="submit" class="btn btn-light" value="Log Out"/>
      </form>
    </span>
    <% end %>
    </div>
  </nav>

  <% flash.keys.each do |type| %>
  <div class="alert alert-success" role="alert" style=“text-align:center;”>
    <div data-alert class="flash <%= type %> alert-box radius">
      <%= flash[type] %>
    </div>
  </div>
  <% end %>

  <!-- Page Content -->

<%= yield %>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
